@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
body {
    background-image: url('../_imagens/bgr-papel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-family: 'Cairo', sans-serif;
    color: #643000;
}
section#contato {
    display: block;
    float: left;
    margin-left: 80px;
    margin-top: 5px;
}

/* NAV BAR */

nav#menu {
    display: block;
    margin-top: -17px;
    margin-left: -10px;
    margin-right: -10px;
}
nav#menu img {
    width: 50px;
    height: 50px;
    padding-top: 10px;
}
nav#menu ul {
    background-image: linear-gradient(to bottom, #643000, #422101 );
}
nav#menu li {
    display: inline-block;
    list-style: none;
    padding-bottom: 25px;
    padding-left: 95px;
    padding-right: 70px;
    font-size: 16px;
}
nav#menu a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
nav#menu li:hover {
    color: rgb(240, 240, 240);
    -webkit-transform: scale(1.1);
}

/* TEXTO */

section#contato h1 {
    font-size: 45px;
}
section#contato p, ul#social {
    float: right;
}
body h3 {
    position: absolute;
    margin-left: 650px;
    margin-top: 60px;
    font-size: 30px;
}
aside {
    display: block;
    float: right;
    margin-right: 20px;
}
aside h1 {
    margin-left: 45px;
    margin-right: 20px;
    margin-bottom: 0px;
    font-size: 45px;
}
aside p {
    margin-right: 100px;
    font-size: 18px;
}
aside ul#social {
    list-style: none;
    margin-right: 150px;
}
aside li {
    display: inline-block;
    margin-right: 20px;
}
aside img {
    width: 60px;
    height: 60px;
    transition: 0.2s;
}
aside img:hover {
    -webkit-transform: scale(0.8);
}
form  {
    list-style: none;
    margin-left: 20px;
    margin-top: -40px;
    text-transform: uppercase;
    font-size: 20px;
}
form input {
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    text-indent: 5px;
    transition: 0.2s;
}
form textarea {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.4);
    resize: none;
    text-indent: 5px;
    transition: 0.2s;
}
form input:hover, textarea:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
iframe {
    margin-bottom: 20px;
}
.btn {
    background-color: #643000;
    color: white;
    width: 120px;
    height: 35px;
    margin-left: 140px;
    transition: 0.2s;
}
.btn:hover {
    background-color: #422101;
    cursor: pointer;
    -webkit-transform: scale(1.05);
}
div#forum {
    font-size: 25px;
}


/* FOOTER */

footer {
    clear: both;
    border-top: 1px rgba(100, 48, 0, 0.4) solid;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 13px;
}
footer p {
    text-align: center;
}
footer img {
    width: 10px;
    height: 10px;
    opacity: 70%;
}